<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="E_Updater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <userSettings>
        <E_Updater.Properties.Settings>
            <setting name="_EP" serializeAs="String">
                <value>未指定</value>
            </setting>
            <setting name="_EN" serializeAs="String">
                <value>未指定</value>
            </setting>
            <setting name="_EW" serializeAs="String">
                <value>未指定</value>
            </setting>
            <setting name="_EL" serializeAs="String">
                <value>未指定</value>
            </setting>
            <setting name="_download" serializeAs="String">
                <value>Download</value>
            </setting>
            <setting name="_EU" serializeAs="String">
                <value>未指定</value>
            </setting>
            <setting name="_temp" serializeAs="String">
                <value>Temp</value>
            </setting>
            <setting name="_EUDownload" serializeAs="String">
                <value>http://estar.zone/download/</value>
            </setting>
            <setting name="_EWDownload" serializeAs="String">
                <value>http://estar.zone/download/186</value>
            </setting>
            <setting name="_EPDownload" serializeAs="String">
                <value>http://estar.zone/download/189</value>
            </setting>
            <setting name="_ENDownload" serializeAs="String">
                <value>http://estar.zone/download/190</value>
            </setting>
            <setting name="_ELDownload" serializeAs="String">
                <value>http://estar.zone/download/</value>
            </setting>
            <setting name="_LatestVersionInfo" serializeAs="String">
                <value>http://estar.zone/wp-content/E_Updater_info.txt</value>
            </setting>
        </E_Updater.Properties.Settings>
    </userSettings>
</configuration>