<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="E.Player.Properties.User" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <E.Player.Properties.User>
            <setting name="isKeepTrans" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isLRFlip" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isShowList" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="language" serializeAs="String">
                <value>zh_CN</value>
            </setting>
            <setting name="isSavePlaylist" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="playMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="_medias" serializeAs="String">
                <value/>
            </setting>
            <setting name="jumpTime" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="isUDFlip" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rotateTo" serializeAs="String">
                <value>0</value>
            </setting>
        </E.Player.Properties.User>
    </userSettings>
</configuration>
