<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="E_Writer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="E_Writer.Properties.User" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <E_Writer.Properties.Settings>
            <setting name="runTimes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="thisStartTime" serializeAs="String">
                <value/>
            </setting>
            <setting name="thisEndTime" serializeAs="String">
                <value/>
            </setting>
            <setting name="thisTotalTime" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="lastStartTime" serializeAs="String">
                <value/>
            </setting>
            <setting name="lastEndTime" serializeAs="String">
                <value/>
            </setting>
            <setting name="totalTime" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="bookCounts" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="_books" serializeAs="String">
                <value/>
            </setting>
            <setting name="_lastBook" serializeAs="String">
                <value/>
            </setting>
        </E_Writer.Properties.Settings>
        <E_Writer.Properties.User>
            <setting name="isAutoOpenBook" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isAutoBrackets" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isAutoSaveWhenSwitch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isAutoSaveEvery" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="autoSaveMinute" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="isAutoIndentation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="autoIndentations" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="isShowScrollBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="_theme" serializeAs="String">
                <value/>
            </setting>
            <setting name="fontName" serializeAs="String">
                <value>Microsoft YaHei</value>
            </setting>
            <setting name="fontSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="isAutoCompletion" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isShowRunInfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isAutoBackup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="autoBackupMinute" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="language" serializeAs="String">
                <value>zh_CN</value>
            </setting>
            <setting name="BooksDir" serializeAs="String">
                <value>书籍</value>
            </setting>
            <setting name="BackupDir" serializeAs="String">
                <value>备份</value>
            </setting>
            <setting name="ThemesDir" serializeAs="String">
                <value>主题</value>
            </setting>
            <setting name="ThemePath" serializeAs="String">
                <value>主题\浅色主题.ini</value>
            </setting>
            <setting name="DirWidth" serializeAs="String">
                <value>243</value>
            </setting>
        </E_Writer.Properties.User>
    </userSettings>
</configuration>
