<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="E.Number.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="E.Number.Properties.User" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <E.Number.Properties.Settings>
            <setting name="Record" serializeAs="String">
                <value />
            </setting>
        </E.Number.Properties.Settings>
        <E.Number.Properties.User>
            <setting name="ThemesDir" serializeAs="String">
                <value>主题</value>
            </setting>
            <setting name="language" serializeAs="String">
                <value>zh_CN</value>
            </setting>
            <setting name="ThemePath" serializeAs="String">
                <value>主题\浅色主题.ini</value>
            </setting>
            <setting name="Min" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Max" serializeAs="String">
                <value>100</value>
            </setting>
        </E.Number.Properties.User>
    </userSettings>
</configuration>
