<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="E.Role.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <E.Role.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Record" serializeAs="String">
                <value/>
            </setting>
            <setting name="IsCreateSurame" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsCreateName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsCreateBirthday" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsCreateGender" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsCreateHeight" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsCreateWeight" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsCreateTemperament" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsCreateHobby" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsCreateDisgust" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SurameType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NameLength" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="BirthdayMin" serializeAs="String">
                <value>2000-01-01</value>
            </setting>
            <setting name="BirthdayMax" serializeAs="String">
                <value>2020-01-01</value>
            </setting>
            <setting name="GenderType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HeightMin" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="HeightMax" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="WeightMin" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="WeightMax" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="RunCount" serializeAs="String">
                <value>0</value>
            </setting>
        </E.Role.Properties.Settings>
    </userSettings>
</configuration>
