<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="E.Updater.Properties.User" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="E.Updater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <E.Updater.Properties.User>
            <setting name="language" serializeAs="String">
                <value>zh_CN</value>
            </setting>
            <setting name="ThemePath" serializeAs="String">
                <value>主题\浅色主题.ini</value>
            </setting>
            <setting name="ThemesDir" serializeAs="String">
                <value>主题</value>
            </setting>
        </E.Updater.Properties.User>
        <E.Updater.Properties.Settings>
            <setting name="_EP" serializeAs="String">
                <value />
            </setting>
            <setting name="_EN" serializeAs="String">
                <value />
            </setting>
            <setting name="_EW" serializeAs="String">
                <value />
            </setting>
            <setting name="_download" serializeAs="String">
                <value>下载</value>
            </setting>
            <setting name="_EU" serializeAs="String">
                <value />
            </setting>
            <setting name="_temp" serializeAs="String">
                <value>Temp</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RunCount" serializeAs="String">
                <value>0</value>
            </setting>
        </E.Updater.Properties.Settings>
    </userSettings>
</configuration>
